# white list approach: Ignore everything, and un-ignore specific files/folders:

*
!.gitattributes
!.gitignore
!readme.md
!.gitkeep
!*.cs
!*.js
!*/
!Assets/DefaultScene.unity
!Assets/Maze/*
!Assets/Terrain/*
Assets/Standard Assets